nav {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1;
}

#navRight {
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
    align-items: center;

}
#navLeft {
    font-size: xxx-large;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
#navRight a{
    font-size: large;
    text-decoration: none;
    color: white;
    border-top: grey 2px solid;
    border-bottom: grey 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    padding: 5px 10px;
    margin: 0 25px;
}


#navRight a:hover {
    background-color: black;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    border-left: #cc8500 2px solid;
    border-right: #cc8500 2px solid;
    cursor: pointer;
}

#top1, #top3 {
    font-size: 36px;
}

#top2 {
    font-size: 64px;
}

#navIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}
#navIcons i {
    padding: 0 10px;
}
#navIcons i:hover {

}
html {
    background-color: black;
    color: whitesmoke;
}
