nav {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin: 10px;
}

#navRight {
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    align-items: center;

}
#navLeft {
    font-size: xxx-large;
    display: flex;
    align-items: center;
}
#navRight a{
    font-size: large;
    text-decoration: none;
    color: white;
    border-top: grey 2px solid;
    border-bottom: grey 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    padding: 5px 10px;
    margin: 0 25px;
    /*width: 100px;*/
    /*text-align: center;*/
}


#navRight a:hover {
    background-color: black;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    border-left: #cc8500 2px solid;
    border-right: #cc8500 2px solid;
}

#top1, #top3 {
    font-size: x-large;
}

#top2 {
    font-size: xxx-large;
}

#navIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#navIcons i {
    padding: 0 10px;
}
html {
    background-color: black;
    color: whitesmoke;
}
