<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/d33e65fc6a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script th:src="@{/js/home.js}"></script>
    <title>Xavier Francis | Home</title>
</head>
<body>
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <header>
        <div id="headerleft">
            <div>
                <img id="photo" th:src="@{/img/xavier_photo.jpg}">
            </div>
        </div>
        <div id="headerRight">
            <h1 style="color: grey">Hi, I'm Xavier</h1>
            <h1>Software Developer</h1>
            <div id="paragraph">Highly motivated Marine Corps Veteran and passionate Full-Stack Software Development Professional skilled in working with cross-functional teams, delivering high-quality solutions under pressure, leadership experience, and proficiency in multiple programming languages and frameworks. Dedicated to driving results, fostering strong relationships, keeping up with emerging technologies and best practices, and having a strong passion to learn.</div>
            <a th:href="@{/about}"><button>Learn More</button></a>
        </div>
    </header>
    <div id="tech">
        <div id="stackContainer">
            <h1 id="techStack">Technologies</h1>
            <img class="logo" th:src="@{/img/icons8-html-125.png}">
            <img class="logo" th:src="@{/img/icons8-css-125.png}">
            <img class="logo" th:src="@{/img/icons8-javascript-125.png}">
            <img class="logo" th:src="@{/img/icons8-bootstrap-125.png}">
            <img class="logo2" th:src="@{/img/icons8-java-125.png}">
            <img class="logo2" th:src="@{/img/icons8-spring-boot-125.png}">
            <img class="logo2" th:src="@{/img/icons8-c-125.png}">
            <img class="logo2" th:src="@{/img/icons8-mysql-125.png}">
        </div>
    </div>
    <div id="contact">
        <div id="bottomLeft">
            <h1 id="projects">Projects</h1>
            <div class="projectContainer">
                <a th:href="@{/projects}"><img id = "1" class="projectImg" th:src="@{/img/brewquest.png}"></a>
                <p class="overlay">SEE MORE</p>
            </div>
            <div class="projectContainer">
                <a th:href="@{/projects}"><img class="projectImg" th:src="@{/img/adcentral.png}"></a>
                <p class="overlay">SEE MORE</p>
            </div>
            <div class="projectContainer">
                <a th:href="@{/projects}"><img class="projectImg" th:src="@{/img/weathersmart.png}"></a>
                <p class="overlay">SEE MORE</p>
            </div>
        </div>
        <div id="bottomRight">
            <h1 style="color: black;">“Coding is today’s language of creativity. All our children deserve a chance to become creators instead consumers of computer science.”</h1>
            <h2>-Maria Klawe</h2>
        </div>
    </div>
    <footer th:fragment="footer">
        <div id="footerleft">
            <h3>james.x.francis9@gmail.com</h3>
        </div>
        <div id="navLeft" style="padding-right: 100px">
            <span id="top1">J</span>
            <span id="top2">X</span>
            <span id="top3">F</span>

        </div>
        <div id="navIcons" class="footerRight">
            <a th:href="@{https://www.linkedin.com/in/j-xavier-francis/}" target="_blank"><i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i></a>
            <a th:href="@{https://github.com/XavierFrancis9}" target="_blank"><i class="fa-brands fa-github fa-lg" style="color: #ffffff;"></i></a>
            <a th:href="@{/files/xavier_francis_resume.pdf}" target="_blank"><i class="fa-regular fa-file fa-lg" style="color: #ffffff;"></i></a>
        </div>
    </footer>
</body>
</html>